    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Black Mountains Testing</h2>
                <p>Blackmountain testing was formed after observing that QA as a craft had largely been forgotten in the rush to automate everything.
                    <br>We believe that individuals are your greatest asset
                    <br>We believe that quality is context dependent
                    <br>We believe that automated test execution has a place
                    <br>We belive that teams develop software
                    <br>We are individuals with a wide range of experiences in the quality domain
                    <br>We are individuals who will work with you to affect a positive outcome
                    <br>We are individuals that care about our teams
                    <br>Our project experience includes diverse industries such as aerospace, military, finance, marketing...
                    <br>We have all been a part of projects that have succeeded...and failed.
                    <br>We have learnt from all, especially the failures.
                    <br>We have experienced projects where good QA practice has been largely ignored and we have experienced projects where QA has been front and centre.
                    <br>We have built, and led, teams of QA professionals, both onshore and off
                    <br>What makes us different is that we practice what we teach on a daily basis.
                    <br>We don't believe that one size fits all
                    <br>We don't do theory, we do practical
                    <br>We don't do hypothetical, we do pragmatic
                    <br>We don't do unicorn testing, we do reality
                    <br>We don't do wishful thinking, we do actuality</p>
            </div>
        </div>
    </section>